<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About Study Timer</title>
  <link rel="stylesheet" href="../assets/css/about.css">
</head>
<body>
  <div class="container">
    <img src="../assets/img/icon.png" alt="Study Timer">
    <p>Study Timer helps you to keep track of your study time</p>
    <p>Version: <span id="app-version"></span></p>
    <p>Author: <a href="#" id="link-website">Jon Ribeiro</a></p>
    <p>Electron <span id="electron-version"></span></p>
    <a href="#" id="link-close">Close</a>
  </div>
  <script>require('../components/about')</script>
</body>
</html>
