<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Study Timer</title>
    <link rel="stylesheet" href="../assets/css/main.css">
</head>
<body>
    <section class="container">
        <div id="link-about">
            <img class="info-button" src="../assets/img/info-button.svg">
        </div>
        <h1 class="title">Study Timer</h1>
        <div class="timer">
            <div class="clock">
                <span class="time">00:00:00</span>
            </div><!--
            --><div class='controls'>
                <img class="play-button" src="../assets/img/play-button.svg">
            </div>
            <div class="course-container">
                <span class="course">intro-javascript</span>
            </div>
        </div>

        <div class="group">
            <input type="text" class='add-input' required>
            <img src="../assets/img/plus-button.png" class='add-button'>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>New course</label>
        </div>

    </section>
    <script>require('../components/renderer')</script>
</body>
</html>
